################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WebApp_UnderTheHood/bin/Debug/net10.0
/WebApp_UnderTheHood/obj
